registry=https://registry.npmjs.org/
//registry.npmjs.com/:_password=TGdoQkg1eDI1ZGROazkzdlIzR1VyWmRIZzdaSk5Q
//registry.npmjs.com/:username=scsherwood
//registry.npmjs.com/:email=steve@sherwood.me
//registry.npmjs.com/:always-auth=true